.shopping_cart{
font-size:12px;
}
.shopping_cart h2{
font-size:14px;
}
.shopping_cart img{
border:none;
}
.shopping_cart input{
width:auto !important;
}
.wp-cart-button-form input{
width: auto !important;
}
.wp_cart_checkout_button:hover{
	opacity:0.7;
}

.wp_cart_button:hover{
	opacity:0.7;
}

